<div class="main-component-wrapper">
  <div class="component-padding">
    <div class="letters-overview-main" fxLayoutAlign="center center">
      <app-missing-translation *ngIf="isoCode === 'en' && !englishLettersAvailable"></app-missing-translation>

      <mat-grid-list class="main" fxFlex="grow" [cols]="colNum" rowHeight="230px">
        <mat-grid-tile *ngFor="let letterGroup of letterGroupOverview">
          <app-baloon-selector
            [hidden]="isoCode === 'en' && !letterGroup.has_en"
            [link]="letterGroup.slug"
            [name]="letterGroup.name"></app-baloon-selector>
        </mat-grid-tile>
      </mat-grid-list>

    </div>
  </div>
</div>
