<div class="main-component-wrapper">
  <div class="component-padding">
    <div class="cities-overview-main">

      <mat-grid-list class="main" fxFlex="grow" cols="5" rowHeight="230px">
        <mat-grid-tile *ngFor="let bioGroup of bioGroupOverview">
          <!-- [hidden]="isoCode === 'en' && !letterGroup.has_en" -->
          <app-baloon-selector
            [link]="bioGroup.slug"
            [name]="bioGroup.name"></app-baloon-selector>
        </mat-grid-tile>
      </mat-grid-list>

    </div>
  </div>
</div>
