<div class="main-component-wrapper">
  <div class="component-padding">
  <div class="main-letter-wrapper" fxLayout="row" fxLayoutGap="50px">
    <div class="nav-column" fxFlex fxLayout="column">
      <div>
        <button  class="custom-button-main"  (click)="goBack()">{{ (isoCode === 'en') ? 'Back' : 'Zurück' }}</button>
      </div>
      <div fxFlex="grow"></div>
      <div *ngIf="bioInfo" fxLayout="row"
        [routerLink]="'/biographies/' + bioGroupId + '/' + bioInfo.slug"
        class="portrait-link"
        fxLayoutAlign="center center">
        <div fxFlex="150px">
          <div class="circle">
            <img width=100
            [src]="'./assets/portraits/' + bioInfo.slug + '.jpg'" alt="">
          </div>
        </div>
        <div>
          <p class="portrait-name">{{ bioInfo.name }}</p>
        </div>
      </div>
    </div>
    <div fxFlex="60" class="letters" #letterContainer>
      <app-missing-translation *ngIf="isoCode === 'en' && !hasEn"></app-missing-translation>
      <ng-container *ngIf="isoCode === 'de' || (isoCode === 'en' && hasEn)">
        <ng-container
          *ngFor="let letter of letters; let idx = index;">
          <div *ngIf="isoCode === 'de' || (isoCode === 'en' && letter.has_en)"
            [id]="'letter' + idx"
            class="letter">
            <h2>{{ letter[isoCode].title }}</h2>
            <p *ngFor="let para of letter[isoCode].content">
              {{ para }}
            </p>
            <ng-container class="footnotes" *ngIf="letter.footnotes.length > 0">
              <p *ngFor="let footnote of letter.footnotes; let footIdx = index;"
                fxLayout="row"
                class="footnote">
                  <span fxFlex="30px" class="footnote-idx">{{ footIdx + 1 }}</span>
                  <span class="footnote-text">{{ footnote }}</span>
              </p>
            </ng-container>

            <p class="zit">{{ letter.source }}</p>
          </div>
        </ng-container>
        <!-- <div class="letter-bottom">&nbsp;</div> -->

      </ng-container>
    </div>
    <div fxFlex class="letter-overview">
      <ng-container *ngIf="isoCode === 'de' || (isoCode === 'en' && hasEn)">
        <div *ngFor="let letter of letters; let idx = index;">

          <button *ngIf="letter[isoCode].title" class="pagescroll-letter"
          (click)="scrollTo(idx)">{{ letter[isoCode].title }}</button>

        </div>
      </ng-container>

    </div>

  </div>
  </div>
</div>
