<div class="main-component-wrapper">
  <div class="component-padding">
  <div class="main-letter-wrapper" fxLayout="row" fxLayoutGap="50px">
    <div class="nav-column" fxFlex>
      <button  class="custom-button-main"  (click)="goBack()">{{ (isoCode === 'en') ? 'Back' : 'Zurück' }}</button>
    </div>
    <div fxFlex="60" class="letters" #letterContainer>
      <app-missing-translation *ngIf="isoCode === 'en' && !hasEn"></app-missing-translation>
      <ng-container *ngIf="isoCode === 'de' || (isoCode === 'en' && hasEn)">
        <ng-container
          *ngFor="let letter of letters; let idx = index;">
          <div *ngIf="isoCode === 'de' || (isoCode === 'en' && letter.has_en)"
            [id]="'letter' + idx"
            class="letter">
            <h2>{{ letter[isoCode].title }}</h2>
            <p *ngFor="let para of letter[isoCode].content">
              {{ para }}
            </p>

            <p class="zit">{{ letter.source }}</p>
          </div>
        </ng-container>
        <!-- <div class="letter-bottom">&nbsp;</div> -->

      </ng-container>
    </div>
    <div fxFlex class="letter-overview">
      <ng-container *ngIf="isoCode === 'de' || (isoCode === 'en' && hasEn)">
        <div *ngFor="let letter of letters; let idx = index;">

          <button *ngIf="letter[isoCode].title" class="pagescroll-letter"
          (click)="scrollTo(idx)">{{ letter[isoCode].title }}</button>

        </div>
      </ng-container>

    </div>

  </div>
  </div>
</div>
