<div class="main-component-wrapper">
  <div class="component-padding">
    <div fxLayout="row" fxLayoutGap="50px">
      <div fxFlex="350px" fxLayout="column">
        <div>
          <button *ngIf="sources.length > 1" class="custom-button-main"
            (click)="decreaseIdx()">
            {{ (isoCode === 'en') ? 'Previous' : 'Vorherige' }}
          </button>
        </div>
        <div fxFlex="grow"></div>
        <div>
          <button *ngIf="sources[currIdx].transcription.length > 0"
            class="custom-button-main" (click)="showTranscription(sources[currIdx].transcription)">
            {{ (isoCode === 'en') ? 'Transcription' : 'Transkription' }}
          </button>
        </div>
      </div>
        <!-- <div #fakeToolbar hidden="true"></div> -->
      <div class="img-container" fxFlex="grow">
        <img [src]="'./assets/archive/' + sources[currIdx]['image']" alt="">
      </div>

      <div fxFlex="350px" fxLayout="column">
        <button *ngIf="sources.length > 1" class="custom-button-main" (click)="increaseIdx()">{{ (isoCode === 'en') ? 'Next' : 'Nächste' }}</button>
        <div fxFlex="grow"></div>
        <div class="source-description" fxLayout="column" fxLayoutAlign="end end">
          <div class="source-description-title">
            {{ sources[currIdx]['sourceTitle'] }}
          </div>
          <div class="source-description-info">
            {{ sources[currIdx]['sourceInfo'] }}
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
