<div style="padding: 150px 120px;" class="main-component-wrapper">

    <mat-grid-list class="main" fxFlex="grow" cols="2" rowHeight="fit">
      <mat-grid-tile
        *ngFor="let navTile of navTiles">

          <button class="custom-button-main-home" [routerLink]="navTile.link" mat-raised-button color="primary">
            {{ navTile.name[isoCode] }}
          </button>

      </mat-grid-tile>
    </mat-grid-list>

</div>

<!-- <div class="main" fxLayout="column">
  <div fxLayout="row" fxFlex="50" fxLayoutAlign="center center">
    <div fxFlex="50" routerLink="/biographies">
      <button mat-raised-button color="primary">
        Biographien
      </button>
    </div>
    <div fxFlex="50">Briefe</div>
  </div>
  <div fxLayout="row" fxFlex="50" fxLayoutAlign="center center">
    <div fxFlex="50">Anderes</div>
    <div fxFlex="50">Zeug</div>
  </div>

</div> -->
