<div style="padding: 150px 120px;" class="main-component-wrapper">

    <mat-grid-list class="main" fxFlex="grow" cols="2" rowHeight="fit">
      <mat-grid-tile>

          <button class="custom-button-main-home" [routerLink]="cityPortrait.link" mat-raised-button color="primary">
            {{ cityPortrait.name[isoCode] }}
          </button>

      </mat-grid-tile>
      <mat-grid-tile>

          <button *ngIf="hasBiographies" class="custom-button-main-home" [routerLink]="biographies.link" mat-raised-button color="primary">
            {{ biographies.name[isoCode] }}
          </button>

      </mat-grid-tile>
      <mat-grid-tile>

          <button class="custom-button-main-home" [routerLink]="letters.link" mat-raised-button color="primary">
            {{ letters.name[isoCode] }}
          </button>

      </mat-grid-tile>
      <mat-grid-tile>

          <button *ngIf="hasSources" class="custom-button-main-home" [routerLink]="sources.link" mat-raised-button color="primary">
            {{ sources.name[isoCode] }}
          </button>

      </mat-grid-tile>

    </mat-grid-list>

</div>

<!-- <div class="main" fxLayout="column">
  <div fxLayout="row" fxFlex="50" fxLayoutAlign="center center">
    <div fxFlex="50" routerLink="/biographies">
      <button mat-raised-button color="primary">
        Biographien
      </button>
    </div>
    <div fxFlex="50">Briefe</div>
  </div>
  <div fxLayout="row" fxFlex="50" fxLayoutAlign="center center">
    <div fxFlex="50">Anderes</div>
    <div fxFlex="50">Zeug</div>
  </div>

</div> -->
