@import '../../common-vars.scss';

.main-city-portrait-wrapper {
  display: flex;
  flex-direction: row;
  height: 930px;
}

.city-portrait-main {
  height: 100%;
  overflow-y: scroll;
}

.city-portraits {
  overflow-y: scroll;
  height: calc(100vh - 150px);
  max-height: calc(100vh - 150px);
}

.city-portrait {
      padding-right: 50px;
}

.pagescroll-letter {
  line-height: 1.3rem;
  border: 3px solid $primary-color;
  color: $primary-color;
  font-size: 1rem;
  padding: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  width: 100%;
}

.pagescroll-letter a {
  color: $primary-color;
  text-decoration: none;
}

.letter-overview {
  padding-right: 10px; 
  overflow-x: scroll;
  height: 930px;
}
