@import '../../common-vars.scss';

.main {
  font-family: 'nra', sans-serif;
    font-size: 34px;
    background-color: #000;
    border: 4px solid $primary-color;
    padding: 30px;
    color: #fff;
}

.dialog-header {
  font-family: 'maax';
  color: $primary-color;
}
